* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.botao {
  width: 40px;
  height: 40px;
  background-color: aquamarine;
  border: 0;
}

.botao img {
  width: 40px;
  height: 40px;
  background-color: rgb(44, 42, 165);
}

.botao img:hover {
  width: 42px;
  height: 42px;
}

.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  animation-name: fundo;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.title {
  font-size: 65px;
  color: rgb(44, 42, 165);
}

@keyframes fundo {
  from{
    background-color: rgb(215, 229, 250);
  }
  to{
    background-color: rgb(177, 168, 255)
  }
}

.input {
  background-color: rgb(44, 42, 165);
  padding: 15px;
  margin: 34px;
  display: flex;
  border-radius: 8px;
  box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.281);
}

.input input {
  background-color: transparent;
  border: none;
  font-size: 20px;
  color: white;
  outline: none;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  padding: 25px;
  border-radius: 10px;
  padding-bottom: 20px;
}

.main h2 {
  font-size: 38px;
  margin-bottom: 15px;
}

.main span {
  margin-bottom: 10px;

}

@media (max-width: 600px) {
  .title {
    font-size: 12vw;
  }
}